.godot/
build/
*.keystore
*.jks
*.uid
android/plugin/.gradle/
android/plugin/build/
android/plugin/local.properties
android/plugin/.cxx/
addons/rift_uninstall/bin/
.DS_Store
*.tmp
export_credentials.cfg
