<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:replace="android:allowBackup,android:fullBackupContent,android:dataExtractionRules">
        <meta-data
            android:name="org.godotengine.plugin.v2.RiftUninstall"
            android:value="com.frontierrift.uninstall.RiftUninstallPlugin" />
    </application>
</manifest>
